.lead {
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .lead {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    margin-left: 148px;
    margin-right: 148px;
  }
}
