.footer__link {
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
  transition: opacity 0.3 ease;
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
    display: block;
  }
}

.footer__link:hover {
  opacity: 0.5;
}
