.lead__subtitle {
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0 auto 64px auto;
  max-width: 640px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__subtitle {
    margin: 0 auto 56px auto;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 500px;
    font-size: 22px;
    line-height: 24px;
    margin: 0 auto 40px auto;
  }
}

@media screen and (max-width: 550px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}
